<div class="con-bot">
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pc" alt="" />
        </div>
        <div class="left-text">
            <h4> Lorem </h4>
            <span class="doller">$1024.99</span>
            <p>burasi paragraf</p>
        </div>
    </div>
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pc" alt="" />
        </div>
        <div class="left-text">
            <h4> Lorem </h4>
            <span class="doller">$1024.99</span>
            <p>burasi paragraf</p>
        </div>
    </div>
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pc" alt="" />
        </div>
        <div class="left-text">
            <h4> Lorem </h4>
            <span class="doller">$1024.99</span>
            <p>burasi paragraf</p>
        </div>
    </div>

    <div class="clear"></div>
</div>
