@using TravelTripProje.Models.Classes
@model List<Blog>

@foreach (var x in Model)
{
    <div class="right">
        <div class="bot-left">
            <img src="@x.BlogImage" style="height:150px; width:300px" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Title</h4>
            <span class="doller">@x.Date.ToString("dd.MM.yyyy")</span>
            <p>@x.Description.Substring(0,50)...</p>
            <p> <a href="~/blog/BlogDetay/@x.BlogId"> <span class="read">Devamini oku.. >></span> </a>  </p>
        </div>
    </div>

}

